# Application
APP_ADMIN_USER=admin
APP_ADMIN_PASSWORD=change-me-in-production

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana-password

# Alerting
SMTP_SMARTHOST=smtp.gmail.com:587
SMTP_FROM=muster@gmail.com
SMTP_AUTH_USERNAME=muster@gmail.com
SMTP_AUTH_PASSWORD=16digtalpassword
SMTP_REQUIRE_TLS=true
ALERT_EMAIL_TO=muster@icloud.com